
<footer id="main-footer" class="fixed-bottom">
  <ul>
    <div class="col">
      <a href="/">
        <li><i class="fa fa-home"></i>
          Home
        </li>
      </a>
    </div>
    <div class="col">
      <a href="/lookup">
        <li>
          <i class="fa fa-search"></i>
          Search
        </li>
      </a>
    </div>
    <div class="col">
      <a href="#">
        <li>
          <i class="fa fa-map-marker"></i>
          About
        </li>
      </a>

    </div>
    <div class="col">
      <a href="#">
        <li>
          <i class="fa fa-user"></i>
          Account
        </li>
      </a>
    </div>

  </ul>

</footer>


<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script data-ad-client="ca-pub-7737934515176115" async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script src="/js/script.js"></script>
</body>

</html>