<%- include('partials/header') %>


<div class="container">
  <div class="row my-5">
    
    <div class="col-md-6 ">
      <div class="card card-body ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- reverse box -->
        <ins class="adsbygoogle"
             style="display:block;width: 80%;"
             data-ad-client="ca-pub-7737934515176115"
             data-ad-slot="7909771656"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
    <div class="col-md-6 py-5 mb-5">
      <div class="card">
        <div class="card-header">
          <h3>Phone number lookup result</h3>
        </div>
        <div class="card-body">
          <span>Caller Name: <%= name %> </span>
          <p>Location: US</p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') %>