<%- include('partials/header') %>


<div class="container">
  <div class="row">
    <div class="col py-5 mt-5">
      <div class="card">
        <div class="card-header">
          <h3>Phone number lookup result</h3>
        </div>
        <div class="card-body">
          <span>Phone Number Owner: <%= name %> </span>
          <p>Location: US</p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') %>